/* Estilos para el header */

body{
    background-color: #dce7fc;
}


header{
    position:relative
    align-items: center;
    
}

.Logo-principal {
    position: absolute;
    top: 0;
    left: 54%;
    transform: translateX(-50%);
    z-index:1;

    max-width: 500px;
    max-height: 250px;
    

    
}

.Logo-principal img {
  
    width: 75%;
    height: auto;
   

}

.Header-right {
    display: flex;
    align-items: center;
}

.Navegacion {
    display: flex;
    justify-content: center;
    flex-grow: 1; /* Permite que la navegación ocupe el espacio restante */
    text-align: center; /* Centra los elementos */
    margin-top: 150px; 
    
}
/* Estilos para la navegación */

.Navegacion ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.Navegacion li {
    display: inline;
    margin-right: 20px; /* Espacio entre elementos de navegación */
}

/* Estilos para la barra de búsqueda y el carrito */

.Carrito{ 
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin-left: auto;
    
}


.Carrito img {
    max-width: 30px; 
    margin-right: 20px;
    margin-top: -50px;
}


.bolso img{

    max-width: 400px;
    margin-left: auto;

}

.bolso{
    border: 1px solid black;
    background-color:#f0f0f0 ;
}

.Pulsera img{

    max-width: 300px;
    margin-left: auto;
}

.Pulsera{
    border: 1px solid black;
    background-color:#f0f0f0 ;
}

.Cadena img{

    max-width: 300px;
    margin-left: auto;
}

.Cadena{
    border: 1px solid black;
    background-color:#f0f0f0 ;
}

.Casio img{

    max-width: 200px;
    margin-left: auto;
}

.Casio{
    border: 1px solid black;
    background-color:#f0f0f0 ;
}



.Nombres-de-participantes {
    list-style: none;
}

.Productos {
    display: flex;
    flex-wrap: wrap; 
    justify-content: space-around;
    margin: 20px 0;


}

.Productos > div {
    flex-basis: calc(20% - 20px); 
    margin: 10px; 
    text-align: center; 
}

.Productos img {
    width: 100%; 
    height: 250px; 
}





footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 20px;
    background-color: #f0f0f0;
    

}