/* Estilos para el header */
.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 20px;
    background-color:lightblue; /* Color de fondo del header */
}

.Logo-principal {
    flex:1;
    max-width: 500px;
    max-height: 250px;

    
}

.Logo-principal img {
  
    width: 75%;
    height: auto;
   

}

.Header-right {
    display: flex;
    align-items: center;
}
/* Estilos para la navegación */

.Navegacion {
    flex-grow: 1; /* Permite que la navegación ocupe el espacio restante */
    text-align: center; /* Centra los elementos */
    margin-top: 0; /* Ajuste para alinear la navegación lo más arriba posible */
}

.Navegacion ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.Navegacion li {
    display: inline;
    margin-right: 20px; /* Espacio entre elementos de navegación */
}

/* Estilos para la barra de búsqueda y el carrito */
.Busqueda-y-Carrito {
    display: flex;
    align-items: center;
}

.Busqueda-y-Carrito form {
    margin-left: auto; /* Empuja la barra de búsqueda hacia el lado derecho */
    margin-right: 20px; /* Espacio entre la barra de búsqueda y el carrito */
}

.Carrito img {
    max-width: 30px; 
    margin-left:auto
}

.Carrito div {
    margin-left: auto;
}
