/* Estilos para el header */

body{
    background-color: #dce7fc;
}
.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 20px;
    background-color:blue; /* Color de fondo del header */
}

.Logo-principal {
    flex:1;
    max-width: 500px;
    max-height: 250px;
    margin-left:20px;
    margin-top: 20px;
    

    
}

.Logo-principal img {
  
    width: 75%;
    height: auto;
   

}

.Header-right {
    display: flex;
    align-items: center;
}

.Navegacion {
    flex-grow:1;
    text-align: center;
    margin-top:10px;
    
}
/* Estilos para la navegación */

.Navegacion {
    flex-grow: 1; /* Permite que la navegación ocupe el espacio restante */
    text-align: center; /* Centra los elementos */
    margin-top: 0; /* Ajuste para alinear la navegación lo más arriba posible */
}

.Navegacion ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.Navegacion li {
    display: inline;
    margin-right: 20px; /* Espacio entre elementos de navegación */
}

/* Estilos para la barra de búsqueda y el carrito */
.Busqueda-y-Carrito {
    display: flex;
    align-items: center;
}

.Busqueda-y-Carrito form {
    margin-left: auto; /* Empuja la barra de búsqueda hacia el lado derecho */
    margin-right: 20px; /* Espacio entre la barra de búsqueda y el carrito */
}

.Carrito img {
    max-width: 30px; 
    margin-left:auto;
    
}

.Carrito div {
    margin-left: auto;
    
}

.bolso img{

    max-width: 400px;
    margin-left: auto;

}

.bolso{
    border: 1px solid black;
}

.Pulsera img{

    max-width: 300px;
    margin-left: auto;
}

.Cadena img{

    max-width: 300px;
    margin-left: auto;
}

.Casio img{

    max-width: 200px;
    margin-left: auto;
}



.Nombres-de-participantes {
    list-style: none;
}

.Productos {
    display: flex;
    flex-wrap: wrap; 
    justify-content: space-around;
    margin: 20px 0; 
}

.Productos > div {
    flex-basis: calc(20% - 20px); 
    margin: 10px; 
    text-align: center; 
}







footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 20px;
    background-color: #f0f0f0;
    

}